body{
	
	font-family: heveltica, sans-serif;
	background-color: ##DCDCDC;
}
a:link, a:visited{
	text-decoration: none;
	font-size: 25px;
}
h1{
	font-size: 60px;
	text-align: center;
}
h2{
	font-size: 35px;
	text-align: center;
}
p{
	font-size: 20px;
	text-align: center;
}
footer p{
	font-size: 15px;
	background-color: pink;
}
footer{
	text-align: center;
	font-size: 15px;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: green;
}
.altura15{
	height: 100px;
}
.altura10{
	height: 80px;
}
.altura5{
	height: 40px;
}
.borda{
	border-style: solid;
	border-width: 2px;
	border-color: green;
}
.borda2{
	border-style: solid;
	border-width: 3px;
	border-color: green;
}
.direita{
	direction: rtl;
}
.linha{
	width: 960px;
	overflow: auto;
	padding: 5px 0;
	margin-right: auto;
	margin-left: auto;
	background-color: blue;
}
.coluna{
	padding: 0px 9px;
	float: left;
	background-color: #696969;
}
.col0{
	width: 15px;
	background-color: pink;
}
.col1{
	width: 60px;
	background-color: pink;
}
.col2{
	width: 140px;background-color: red;
}
.col3{
	width: 220px;background-color: yellow;
}
.col4{
	width: 300px;
	background-color: #B0C4DE;
}
.col5{
	width: 380px;background-color: #00FF7F;
}
.col6{
	width: 460px;background-color: #6495ED;
}
.col7{
	width: 540px;background-color: #9400D3;
}
.col8{
	width: 620px;background-color: #FFA500;
}
.col9{
	width: 700px;background-color: #2F4F4F;
}
.col10{
	width: 780px;background-color: #BFEFFF;
}
.col11{
	width: 860px;background-color: #54FF9F;
}
.col12{
	width: 940px;background-color: pink;

}